.label__text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #838383;
}
.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: black;
}
.items {
    justify-content: space-between;
    display: flex;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.item {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 105px;
    margin-left:  5px;
    margin-right:  5px;
}